<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div
                        class="white-box text-center"
                        style="max-width: 430px; height: 400px; overflow: hidden; display: flex; justify-content: center; align-items: center;"
                    >
                        <img
                            src="{{product.image}}"
                            class="image"
                            alt="{{product.name}}"
                            style="max-width: 100%; height: auto;"
                        />
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Product description</h4>
                    <p>Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or
                        randomised words which don't look even slightly
                        believable.</p>
                    <h2 class="mt-5">
                        {{product.cost}}<small class="text-success">(10% off)</small>
                    </h2>
                    <button
                        class="btn btn-dark btn-rounded mr-1"
                        data-toggle="tooltip"
                        title=""
                        data-original-title="Add to cart"
                    >
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <button class="btn btn-primary btn-rounded">Buy Now</button>
                    <h3 class="box-title mt-5">Key Highlights</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>Lightweight
                            and portable</li>
                        <li><i class="fa fa-check text-success"></i>Long battery
                            life</li>
                        <li><i
                                class="fa fa-check text-success"
                            ></i>High-resolution display</li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Brand</td>
                                    <td>ABC Tech</td>
                                </tr>
                                <tr>
                                    <td>Processor</td>
                                    <td>Intel Core i7</td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td>16GB</td>
                                </tr>
                                <tr>
                                    <td>Storage</td>
                                    <td>512GB SSD</td>
                                </tr>
                                <tr>
                                    <td>Screen Size</td>
                                    <td>15.6 inches</td>
                                </tr>
                                <tr>
                                    <td>Resolution</td>
                                    <td>1920 x 1080</td>
                                </tr>
                                <tr>
                                    <td>Graphics</td>
                                    <td>NVIDIA GeForce GTX 1650</td>
                                </tr>
                                <tr>
                                    <td>Operating System</td>
                                    <td>Windows 10</td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>1.5 kg</td>
                                </tr>
                                <tr>
                                    <td>Battery Life</td>
                                    <td>Up to 10 hours</td>
                                </tr>
                                <tr>
                                    <td>Connectivity</td>
                                    <td>Wi-Fi, Bluetooth</td>
                                </tr>
                                <tr>
                                    <td>Warranty</td>
                                    <td>1 year</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>Silver</td>
                                </tr>
                                <tr>
                                    <td>Accessories Included</td>
                                    <td>Charger, User Manual</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>